<div >
    <div class="inner grid grid-cols-2 text-center gap-3">
        <div
            class="flex justify-center items-center rounded-2xl bg-gray-100 hover:bg-gradient-to-r from-fuchsia-500 to-pink-500 hover:text-white shadow-2xl">
            <div class="flex flex-col justify-center items-center ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="200px" width="100px" >
                    <path
                        d="M6,8.5V10a3.2,3.2,0,0,1-.8,2.1L4,13.7a5.1,5.1,0,0,0-1,3v.8H21v-.8a5.1,5.1,0,0,0-1-3l-1.2-1.6A3.2,3.2,0,0,1,18,10V8.5a6,6,0,0,0-6-6h0A6,6,0,0,0,6,8.5Z"
                        fill="none" stroke="#000" />
                    <path d="M15,18a3,3,0,0,1-6,0" fill="none" stroke="#000" stroke-linejoin="bevel" />
                </svg>
                <p class="text-xl font-bold">SEND REMINDER</p>
            </div>
        </div>
        <div
            class="flex justify-center items-center rounded-2xl bg-gray-100 shadow-2xl hover:bg-gradient-to-r from-fuchsia-500 to-pink-500 hover:text-white">
            <div class="flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="200px" width="100px">
                    <path
                        d="M6,18.28a8.19,8.19,0,0,1-4-6.94C2.08,6.64,6.62,2.91,12.14,3S22.07,7,22,11.66,17.38,20.09,11.86,20A11.63,11.63,0,0,1,10,19.82L5.5,22Z"
                        fill="none" stroke="#000" />
                    <rect x="11.5" y="11" width="1" height="1" rx="0.5" fill="none" stroke="#000" />
                    <rect x="15.5" y="11" width="1" height="1" rx="0.5" fill="none" stroke="#000" />
                    <rect x="7.5" y="11" width="1" height="1" rx="0.5" fill="none" stroke="#000" />
                </svg>
                <p class="text-xl font-bold">POST SUGGESTIONS</p>
            </div>
        </div>
        <div
            class="flex justify-center items-center rounded-2xl shadow-2xl bg-gray-100 hover:bg-gradient-to-r from-fuchsia-500 to-pink-500 hover:text-white">
            <div class="flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="200px" width="100px">
                    <circle cx="11" cy="11" r="6.5" fill="none" stroke="#000" />
                    <path d="M11,7.5A3.5,3.5,0,0,1,14.5,11" fill="none" stroke="#000" />
                    <line x1="20.4" y1="20.5" x2="15.5" y2="15.7" fill="none" stroke="#000" />
                </svg>
                <p class="text-xl font-bold">TRACK Grievance STATUS</p>
            </div>
        </div>
        <div
            class="flex justify-center items-center rounded-2xl shadow-2xl bg-gray-100 hover:bg-gradient-to-r from-fuchsia-500 to-pink-500 hover:text-white">
            <div class="flex flex-col justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="200px" width="100px">
                    <polyline points="20.5 12 20.5 20.5 1.5 20.5 1.5 4.5 14 4.5" fill="none" stroke="#000" />
                    <line x1="9.5" y1="10" x2="5" y2="10" fill="none" stroke="#000" />
                    <polygon points="8.5 17 9 14 19.5 3.5 20.5 3.5 22 5 22 6 11.5 16.5 8.5 17" fill="none" stroke="#000"
                        stroke-miterlimit="10" />
                    <line x1="17.5" y1="5" x2="20.5" y2="8" fill="none" stroke="#000" stroke-miterlimit="10" />
                    <line x1="6.5" y1="2" x2="6.5" y2="4.5" fill="none" stroke="#000" />
                    <line x1="11.5" y1="2" x2="11.5" y2="4.5" fill="none" stroke="#000" />
                </svg>
                <p class="text-xl font-bold">POST Grievance</p>
            </div>
        </div>
    </div>
</div>